@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poppins:wght@200;300;400&family=Smooch+Sans:wght@300&display=swap');
body{
    background: #F4EDFF;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.circle1{
    height: 18vw;
    width: 18vw;
    left: 80vw;
    top: 7vw;
    border-radius: 100vw;
    overflow: hidden;
    position: absolute;
    background: #CCB5F0;
    opacity: 0.7;
}

.circle2{
    height: 18vw;
    width: 18vw;
    left: 82vw;
    top: -6vw;
    border-radius: 100vw;
    overflow: hidden;
    position: absolute;
    background: rgba(224, 181, 240, 0.87);
    opacity: 0.7;
}
.circle3{
    height: 18vw;
    width: 18vw;
    left: 1vw;
    top: 33vw;
    border-radius: 100vw;
    overflow: hidden;
    position: absolute;
    background: rgba(224, 181, 240, 0.87);
    opacity: 0.7;
}

.circle4{
    height: 18vw;
    width: 18vw;
    left: 4vw;
    top: 22vw;
    border-radius: 100vw;
    overflow: hidden;
    position: absolute;
    background: #CCB5F0;
    opacity: 0.4;
    }
.rectangle1{
    position: absolute;
    width: 42.5vw;
    height: 40vw;
    left: 7vw;
    top: 6vw;
    background: linear-gradient(112.07deg, #CCB5F0 0%, #F1E8FE 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    }
.content_box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.5vw;
    height: 40vw;
    left: 48vw;
    top: 6vw;
    z-index: 1;
    background: linear-gradient(112.07deg, #F1E8FE 0%, #F3ECFE 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.formbox{
    width: 50%;
}
h2{
    color: rgba(9, 0, 14, 1);
    font-weight: 600;
    font-size: 2.5vw;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #CCB5F0;
    display: inline-block;
    letter-spacing: 1px;  
}
.inputbox{
    margin-bottom: 20px;
}
.inputbox span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #CCB5F0;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.inputbox input{
    width: 100%;
    padding:  10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #CCB5F0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #CCB5F0;
    background: transparent;
    border-radius: 30px;
}
.inputbox button{
    width: 100%;
    padding:  10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #CCB5F0;
    font-size: 16px;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 30px;
    text-decoration: none;
}
.inputbox .signin{
    background: #CCB5F0;
    color: #09000E;
    outline: none;
    border: none;
    font-weight: 700;
    margin-left: 7.5vw;
    width: 50%;
    text-decoration: none;
    padding: 1vw;
}
.inputbox .signin:hover{
    background: #9667e2;
}
.remember{
    margin-bottom: 1vw;
    color: #9667e2;
    font-weight: 400;
    font-size: 14px;
}
.inputbox p{
    color: #CCB5F0;
    margin-left: 6vw;
    font-size: .8vw;
}
.inputbox p a{
    color: #9667e2;
}
.formbox .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formbox .sci li{
    list-style-type: none;
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9667e2;
    cursor: pointer;
    font-size: 2vw;
}
.formbox .sci li:hover{
    color: #09000E;
}
.mus-logo{
    width: 10vw;
    height: 10vw;

}
.mus-logo img{
    width: 100%;
    height: 100%;
    margin-left: 15vw;
    margin-top: 7vw;
}
.rectangle1 h1{
    margin-left: 9vw;
    margin-top: 8.5vw;
    color: #281546;
    margin-bottom: 0;

}
.rectangle1 p{
    margin-left: 13vw;
    margin-top: 0;
    
}